.map-container {
    width: 90%;
    height: 60vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.infoWindow-image {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 3px;
}

.infoWindowContent {
    display: flex;
    flex-direction: row;
}

/* .infoWindow-heading{
    height: auto;
    font-weight: 700;
    color: black;
} */

.textContainer {
    width: 80px;
}
