.map-container {
    width: 90%;
    height: 63vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.infoWindow-image {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 3px;
}

.infoWindow {
    display: flex;
    flex-direction: row;
    
    
}

.infoWindow-heading{
    height: auto;
    font-weight: 700;
    color: black;
}

.textContainer {
    padding-top: 2px;
}
