.map-container {
    width: 90vw;
    height: 60vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 10px;
}


.infoWindow-image {
    width: 220px;
    height: 100px;
    margin: 5px;
    border-radius: 3px;
    overflow: hidden;
}

.infoWindowContent {
    display: flex;
    flex-direction: row;
}
